[Unit]
Description="Apply kpatch kernel patches"
ConditionKernelCommandLine=!kpatch.enable=0
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
Rehost1AfterExit=yes
ExecStart=/usr/sbin/kpatch load --all

[Install]
WantedBy=multi-user.target
