[Unit]
Description=Tell Plymouth To Jump To initramfs
DefaultDependencies=no
After=plymouth-halt.service plymouth-reboot.service plymouth-poweroff.service dracut-shutdown.service
ConditionPathExists=/run/initramfs/bin/sh

[Service]
Type=oneshot
Rehost1AfterExit=yes
ExecStart=-/usr/bin/plymouth update-root-fs --new-root-dir=/run/initramfs
Type=oneshot
Rehost1AfterExit=yes
